@use '../utils/mixins';
@import '../utils/variables';


main {
    .homepage-cover {
        padding: 0 20px;

        @include mixins.lg {
            padding: 0 100px;
        }
    }

    .accomodations-container {
        margin: 0 20px 27px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;

        @include mixins.lg {
            margin: 0 100px 50px;
            background-color: $lightgrey;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 56px 50px 43px;
            gap: 60px 50px;
            border-radius: 20px;
        }
    }
}